<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  
  <servlet>
	  <servlet-name>xxx</servlet-name>
	  <servlet-class>servlet.Helloservlet</servlet-class>
	  <init-param>
	  	<param-name>p1</param-name>
	  	<param-value>v1</param-value>
	  </init-param>
  	  <init-param>
	  	<param-name>p2</param-name>
	  	<param-value>v2</param-value>
	  </init-param>
  </servlet>
  
  <servlet-mapping>
	  <servlet-name>xxx</servlet-name>
	  <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
	  <servlet-name>yyy</servlet-name>
	  <servlet-class>servlet.Helloservlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
	  <servlet-name>yyy</servlet-name>
	  <url-pattern>/Eservlet</url-pattern>
  </servlet-mapping>
  
</web-app>